<!DOCTYPE html>
<html ng-app="eidosBs">
<head lang="en">
    <meta charset="UTF-8">
    <title>Eidos BS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/flat-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <section id="header">
        <h1>Eidos BS<small>A story of Eidos user stories</small></h1>
    </section>
    <section class="story-count" ng-controller="StoriesCountCtrl">
        <h2><span ng-bind="storiesCount"></span> <small>stories created in Eidos</small></h2>
    </section>
    <script src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
